body { 
    background:  url(../images/giphy.gif) no-repeat center center fixed; 
    background-size: cover;
    max-width: 95%;
    background-color: black;
    color: white;
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
    font-weight: bold;
  }

.nav {
    /* position: relative; */
    width: 100vw;
    border: 3px solid black;
    box-shadow: 0 5px 10px green;
}  

/* h1 {
color: white; 
text-align: center;
} */

.row > .left,
.row > .middle,
.row > .right {
    float: left;
}

.row::after {
    content: '';
    clear: both;
    display: table;
  }
  
.imagesBheroe,
.imagesCvillain {
    width: auto;
    max-height: 30% !important;
}

.left {
    display: inline-block;
    width: 200px;
    height: 200px;
	margin: 50px 5px 0 156px;
    padding: 30px;
    background-color: rgba(10, 10, 10, 0.85) !important;
    border: 1px solid rgb(5, 104, 21);
}
button {
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    margin-left: 270px;
    margin-top: 70px;
    color: green;
    box-shadow: 0 0px 8px 2px green;
}
.middle {
    display: inline-block;
    width: 590px;
    height: 240px;
	margin: 50px 12px 5px 8px;
    padding: 10px;
    background-color: rgba(10, 10, 10, 0.85) !important;
    border: 1px solid rgb(5, 104, 21);
}
.right {
    display: inline-block;
    width: 200px;
    height: 200px;
	margin: 50px 0 0;
    padding: 30px;
    background-color: rgba(10, 10, 10, 0.85) !important;
    border: 1px solid rgb(5, 104, 21);
}

#characters{
    margin: 0 auto;
    padding-left: 8%;
}
.bottom-left {
    display: inline-block;
    width: 530px;
    height: 200px;
	margin: 10px 8px 0 40px;
    padding: 20px;
    background-color: rgba(10, 10, 10, 0.85) !important;
    border: 1px solid rgb(5, 104, 21);
}

.bottom-right {
    display: inline-block;
    width: 530px;
    height: 200px;
	margin: 10px 0 0;
    padding: 20px;
    background-color: rgba(10, 10, 10, 0.85) !important;
    border: 1px solid rgb(5, 104, 21);
}
.images {
    height: 90%;
    margin: auto 15px auto 40px;
    box-shadow: 0 0 10px 5px green;
}


#morpheusB {
    height: 200px;
    margin: 15px 0 0 70px;
    box-shadow: 0 0 10px 5px green;
    position: absolute;
    /* top: 130px;
    left: 450px; */
    z-index: 1
}
#trinityB {
    height: 200px;
    margin: 15px 0 0 70px;
    box-shadow: 0 0 10px 5px green;
    position: absolute;
    /* top: 130px;
    left: 450px; */
    z-index: 2
}
#neoB {
    height: 200px;
    margin: 15px 0 0 70px;
    box-shadow: 0 0 10px 5px green;
    position: absolute;
    /* top: 230px;
    left: 450px; */
    z-index: 3
  }
  #smithB {
    height: 200px;
    margin: 15px 0 0 80px;
    box-shadow: 0 0 10px 5px green;
    position: absolute;
    /* top: 130px;
    left: 760px; */
    z-index: 1
}
#sentinelB {
    height: 200px;
    margin: 15px 0 0 80px;
    box-shadow: 0 0 10px 5px green;
    position: absolute;
    /* top: 130px;
    left: 760px; */
    z-index: 2
}

#twinsB {
    height: 200px;
    margin: 15px 0 0 80px;
    box-shadow: 0 0 10px 5px green;
    position: absolute;
    /* top: 130px;
    left: 760px; */
    z-index: 3
  }


footer {
    /* position: fixed; */
    color: white;
	/* bottom: 0; */
    width: 100%;
    font-size: 12px;
    text-align: center;
    margin-top: 30px;
}

